@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

@import url(reset.css);
:root {
  --main-background: hsl(222, 26%, 31%);
  --keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);

  --key-background1: hsl(30, 25%, 89%);
  --key-shadow1: hsl(28, 16%, 65%);

  --key-equality: hsl(6, 63%, 50%);
  --shadow-equality: hsl(6, 70%, 34%);

  --key-delete: hsl(225, 21%, 49%);
  --shadow-delete: hsl(224, 28%, 35%);

  --main-text: hsl(221, 14%, 31%);
  --secondary-text: hsl(0, 0%, 100%);

  --header-texts: hsla(0, 0%, 100%, 1);
}

[data-theme="light"] {
  --main-background: hsl(0, 0%, 90%);
  --keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);

  --key-background1: hsl(45, 7%, 89%);
  --key-shadow1: hsl(35, 11%, 61%);

  --key-equality: hsl(25, 98%, 40%);
  --shadow-equality: hsl(25, 99%, 27%);

  --key-delete: hsl(185, 42%, 37%);
  --shadow-delete: hsl(185, 58%, 25%);

  --main-text: hsl(60, 10%, 19%);
  --secondary-text: hsl(0, 0%, 100%);

  --header-texts: hsla(60, 10%, 19%, 1);
}

[data-theme="special"] {
  --main-background: hsl(268, 75%, 9%);
  --keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);

  --key-background1: hsla(268, 47%, 21%, 1);
  --key-shadow1: hsl(285, 91%, 52%);

  --key-equality: hsl(176, 100%, 44%);
  --shadow-equality: hsl(177, 92%, 70%);

  --key-delete: hsl(268, 47%, 21%);
  --shadow-delete: hsl(290, 70%, 36%);

  --main-text: hsl(60, 25%, 25%);
  --secondary-text: hsl(0, 0%, 100%);

  --header-texts: hsla(52, 100%, 62%, 1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--main-background);
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  min-width: 100%;
}

header {
  display: flex;
}

button {
  cursor: pointer;
}
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 320px;
  user-select: none;
  color: var(--header-texts);
}
.theme {
  display: flex;
  align-items: center;
  justify-content: end;
}
.align_end {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.theme_numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 8px 0 8px;
}
.t_num {
  font-size: 12px;
  line-height: 11px;
  text-align: center;
}
.name {
  font-size: 32px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.533333px;
}
.t_name {
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 1px;
  margin-right: 26px;
}
input[type="range"] {
  -webkit-appearance: none;
  height: 20px;
  background: var(--keypad-background);
  border-radius: 13px;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  margin: 0px;
  width: 64px;
  margin-top: 5px;
  padding: 0 3px 0 3px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: var(--key-equality);
  border-radius: 50%;
}

/* Calculator content */

.result {
  background: var(--screen-background);
  border-radius: 10px;
  width: 279px;
  height: 88px;
  margin: 32px 0 24px 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 24px;
}

.result_p {
  font-size: 40px;
  line-height: 37px;
  text-align: right;
  letter-spacing: -0.666667px;
  color: var(--header-texts);
  max-width: 100%;
  margin-top: 12px;
  overflow: hidden;
}
.opacy {
  opacity: 0.3;
  font-size: 16px;
  line-height: 17px;
}

/* Calculator numbers and operations part */
.operations {
  width: 279px;
  height: 372px;
  padding: 24px;
  background: var(--keypad-background);
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 13px;
  column-gap: 13px;
}
.number {
  background: var(--key-background1);
  box-shadow: inset 0px -4px 0px var(--key-shadow1);
  border-radius: 5px;
  width: 60px;
  height: 64px;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.533333px;
  color: var(--header-texts);
  border-width: 0px;
}
.del {
  background: var(--key-delete);
  box-shadow: inset 0px -4px 0px var(--shadow-delete);
  border-radius: 5px;
  width: 60px;
  height: 64px;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.333333px;
  color: #fff;
}
.resetbtn {
  background: var(--key-delete);
  box-shadow: inset 0px -4px 0px var(--shadow-delete);
  border-radius: 5px;
  height: 64px;
  width: 133px;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.333333px;
  color: #fff;
  grid-column: 1 / span 2;
}
.count {
  background: var(--key-equality);
  box-shadow: inset 0px -4px 0px var(--shadow-equality);
  border-radius: 5px;
  height: 64px;
  width: 133px;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.333333px;
  color: white;
  grid-column: 3 / span 2;
}
